$color-black: #000000;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-gray: #777;
$color-white: #fff;
$color-gray-light-1: #f7f7f7;

$grid-width: 114rem;
$gutter-verticle: 8rem;
$gutter-horizontal: 5rem;