.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 3rem;
    &-main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 2.1rem;
        animation: movingRight;
        animation-duration: 1s;
    }
    
    &-sub{
        display: block;
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 1.3rem;
        animation: movingLeft;
        animation-duration: 1s;
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
    -webkit-background-clip: text;
    color: transparent;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.05);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph{
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}